window {
    font-family: MesloLGS Nerd Font, monospace;
    font-size: 12pt;
    color: #cdd6f4; 
    background-color: rgba(0, 0, 0, .2);
}

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    border: none;
    color: #fbf1c7;
    text-shadow: none;
    border-radius: 20px 20px 20px 20px;
    background-color: rgba(1, 121, 111, 0);
    margin: 10px;
    transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

button:hover {
    background-color: rgba(213, 196, 161, 0.1);
}

#lock {
    background-image: image(url("icons/lock.png"));
    background-size: 70%;
}

#logout {
    background-image: image(url("icons/logout.png"));
}

#suspend {
    background-image: image(url("icons/sleep.png"));
} 

#shutdown {
    background-image: image(url("icons/power.png"));
}

#reboot {
    background-image: image(url("icons/restart.png"));
}
