[Unit]
Description=Music Player Daemon

[Service]
ExecStart=/usr/bin/mpd %h/.config/mpd/mpd.conf --no-daemon
ExecStop=/usr/bin/mpd %h/.config/mpd/mpd.conf --kill
Restart=always

[Install]
WantedBy=default.target
