[Desktop Entry]
Type=Action
Tooltip[en_AU]=Conver the selected files to MP3 format
Tooltip[en]=Conver the selected files to MP3 format
Tooltip[C]=Conver the selected files to MP3 format
ToolbarLabel[en_AU]=Convert to mp3
ToolbarLabel[en]=Convert to mp3
ToolbarLabel[C]=Convert to mp3
Name[en_AU]=Convert to mp3
Name[en]=Convert to mp3
Name[C]=Convert to mp3
Profiles=profile-zero;

[X-Action-Profile profile-zero]
MimeTypes=audio/*;video/*;
Exec=$HOME/.bin/convert-audio %F
Name[en_AU]=Default profile
Name[en]=Default profile
Name[C]=Default profile
